#mainNav{
 height:100px;
}
#logo{
 height: 100px;
 margin-left: -10vw;
}
#dropdown{
margin-top: 8px;

}
#navbarResponsive{
margin-right: -46px !important;
}
.userDropdown{
border-radius: 6% !important;
margin-top: -25px !important;
}
.dropdown-item:hover {
   text-decoration: underline !important;

}
.cartImg{
 margin-left: 13.5rem !important;
 margin-top: -4.1rem !important;
 transform: scale(1.3);
}
.headercontainer{
  height: 50px !important;
}
.number{
  margin-left: 70px !important;
}
