
.searchHeaderStandard{
  margin-left: 10rem !important;
  height: 5rem !important;

}
.standardHeaderList{
  margin-left: 50rem !important;
}

.photo-card{
  height: 250px;
  width: 1000px;
  /* background-color: rgb(255,255,255); */
  background-color: white !important;
}
.pdfContainer{
  height: auto !important;
}
.standardPageCard1{
  margin-left: 15rem !important;
  margin-top: -4rem !important;
  border-width: medium !important;

}
.standardPageCard2{
  margin-left: 8rem !important;
  margin-top: -4rem !important;
  border-width: medium !important;
  border-style: ridge !important;
  height: 371.5px !important;
  transform: scale(0.85) !important;
  font-size: 1vw !important;
}
.photo-background{
  height: 240px;
  width: 200px;
  background-color: white;
  min-height: 200px !important;

}
.photo-details h1{
  margin-top: -22px;
  color: black !important;
}
.photo-details p{
width: 320px;
  color: black !important;
}
.photo-tags{
  width: 200px;
    background-color: white;
    margin-left: 20px !important
}
.photo-details{
    background-color: white;
    border-left: solid;
    border-right: solid;
    border-width: thin;
    border-color: #cccccc;
}
.textStandard{
  text-overflow: ellipsis !important;

  white-space: nowrap !important;
  overflow: hidden !important;


}
.pdfDisplay2{
  height: auto !important;
}
.buttonHover:hover{
  color:black !important;
}
.buttonHover{
    text-transform: capitalize !important;
    background-color: #18bc9c !important;
    color:white !important;
    margin-top: 20px !important;
}
.photo-tags li{
  text-transform: capitalize !important;
}
.ratingbtn{
  margin-left:25px !important;
}
.downloadbtn{
  margin-left: 7px;
}
.myproductContainer{
  display: flex;
    justify-content: center;
}
.photo-card{
  width:100% !important;
  max-width:900px !important;
}
.photo-details{
  width: inherit !important;
}
.detailsbtn{
  width: 110px;
  margin-right: 15px !important;
  border-radius: 50px;
  height: 2rem !important;
}
